<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/cloudkitects/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="cloudkitects" />
            <add key="ClearTextPassword" value="115e8bf50bb15828785b8cb4f52222c456378b9b" />
        </github>
    </packageSourceCredentials>
</configuration>